@model ProductVM


<form method="post">
    <div class="row pb-2">
        <h2 class="text-primary">Product Category </h2>
        <hr />
    </div>
 @*    <div class="mb-3 row">
        <label asp-for="Product.Id"></label>
        <input asp-for="Product.Id" class="form-control" />
        <span asp-validation-for="Product.Id" class="text-danger"></span>
    </div> *@
    <div class="mb-3 row">
        <label asp-for="Product.Title"></label>
        <input asp-for="Product.Title" class="form-control" />
        <span asp-validation-for="Product.Title" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Product.Description"></label>
        <input asp-for="Product.Description" class="form-control" />
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Product.Author"></label>
        <input asp-for="Product.Author" class="form-control" />
        <span asp-validation-for="Product.Author" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Product.ListPrise"></label>
        <input asp-for="Product.ListPrise" class="form-control" />
        <span asp-validation-for="Product.ListPrise" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Product.Prise50"></label>
        <input asp-for="Product.Prise50" class="form-control" />
        <span asp-validation-for="Product.Prise50" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Product.Prise100"></label>
        <input asp-for="Product.Prise100" class="form-control" />
        <span asp-validation-for="Product.Prise100" class="text-danger"></span>
    </div>

    <div class="mb-3 row">
        <label asp-for="Product.ImageUrl"></label>
        <input asp-for="Product.ImageUrl" class="form-control" />
        <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
    </div>

    <div class="mb-3 row">
        <select asp-for="Product.CategoryId"  asp-items="@Model.CategoryList" class="form-select">
            <option disabled selected>---Select Category---</option>
            </select>
        <input asp-for="Product.CategoryId" class="form-control" />
        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
    </div>


    <div class="row">
        <div class="col-6"> 
            <button type="submit" class="btn btn-primary form-control border">
                Create Product</button>
        </div>
        <div class="col-6">

            <a asp-controller="Product" asp-action="Index"
               class="btn btn-secondary form-control border" >
                Back To List</a>
        </div>
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}