@model Product


<form method="post">
    <div class="row pb-2">
        <h2 class="text-primary">Product Category </h2>
        <hr />
    </div>
    <div class="mb-3 row">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="ListPrise"></label>
        <input asp-for="ListPrise" class="form-control" />
        <span asp-validation-for="ListPrise" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Prise50"></label>
        <input asp-for="Prise50" class="form-control" />
        <span asp-validation-for="Prise50" class="text-danger"></span>
    </div>
    <div class="mb-3 row">
        <label asp-for="Prise100"></label>
        <input asp-for="Prise100" class="form-control" />
        <span asp-validation-for="Prise100" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-6"> 
            <button type="submit" class="btn btn-primary form-control border">
                Create Product</button>
        </div>
        <div class="col-6">

            <a asp-controller="Product" asp-action="Index"
               class="btn btn-secondary form-control border" >
                Back To List</a>
        </div>
    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}